@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@import "tailwindcss";

@layer base {    
    html { 
        @apply [scrollbar-gutter:stable]
    }

    #__nuxt{
        @apply flex flex-col min-h-screen bg-[#14120B] text-[#F2F2F2] overflow-x-hidden text-lg;
       
    }
        
    :root{
        /* максимальная ширина контента */
        @apply [--widthContent:1250px]
        /* Растояние от границы брузера по бокам */
        [--widthContentMargin:20px] md:[--widthContentMargin:64px]
    }     

    /* Настройка кастомных контейнеров */
    /* Применение системы гридов для расположения контента в ячейку main или full или в любую другую ячейку между именованными линиями grid*/

    .grid-container{        
        grid-template-columns: [full-start] minmax(var(--widthContentMargin), 1fr) [main-start] minmax(0, var(--widthContent)) [main-end] minmax(var(--widthContentMargin), 1fr) [full-end];
        @apply grid
    }

    .grid-container>*{        
        @apply col-[main]
    }    

    .wrapper{ 
        @apply mr-auto max-w-[var(--widthContent)]
    }

    .container{        
        @apply max-w-[var(--widthContent)]
    } 
}


@layer utilities {
    .line-clamp-1 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
    
    .line-clamp-2 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    
    .line-clamp-3 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    /* Кастомный скроллбар */
    .custom-scrollbar {
      scrollbar-width: thin;
      scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    }

    .custom-scrollbar::-webkit-scrollbar {
      width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
      background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: padding-box;
      transition: background 0.2s ease;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.3);
      background-clip: padding-box;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:active {
      background: rgba(255, 255, 255, 0.4);
      background-clip: padding-box;
    }
  }